{% extends 'base/dash/base.html' %}

{% block header_title %}{{ header_title }}{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="card card-body mb-3">
    <form method="GET" action="{% if customer %}{% url 'orders:customer_order_list' customer.id %}{% else %}{% url 'orders:order_list' %}{% endif %}">

        
        {% comment %}
        Usamos um grid (row) para alinhar todos os campos de filtro em uma única linha.
        'g-3' -> Adiciona um espaçamento (gap) entre as colunas.
        'align-items-end' -> Alinha verticalmente todos os itens pela base, o que deixa
                           os botões e os campos visualmente alinhados.
        {% endcomment %}
        <div class="row align-items-end g-3">

            <div class="col-md-4">
                <label for="q" class="form-label small">Buscar Termo</label>
                <input type="text" class="form-control form-control-sm" id="q" name="q" placeholder="Nº do Pedido, Nome, Documento..." value="{{ request.GET.q|default:'' }}">
            </div>

            <div class="col-md-2">
                <label for="status" class="form-label small">Status</label>
                <select class="form-select form-select-sm" id="status" name="status">
                    <option value="">Todos</option>
                    {% for key, display_name in status_choices.items %}
                        <option value="{{ key }}" {% if request.GET.status == key %}selected{% endif %}>
                            {{ display_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-2">
                <label for="data_inicio" class="form-label small">De</label>
                <input type="date" class="form-control form-control-sm" id="data_inicio" name="data_inicio" value="{{ request.GET.data_inicio|default:'' }}">
            </div>
            
            <div class="col-md-2">
                <label for="data_fim" class="form-label small">Até</label>
                <input type="date" class="form-control form-control-sm" id="data_fim" name="data_fim" value="{{ request.GET.data_fim|default:'' }}">
            </div>

            <div class="col-md-2 d-flex">
                <button class="btn btn-primary btn-sm w-100 me-2" type="submit">Filtrar</button>
               <a href="{% if customer %}{% url 'orders:customer_order_list' customer.id %}{% else %}{% url 'orders:order_list' %}{% endif %}" class="btn btn-light btn-sm w-100">Limpar</a>

            </div>
        </div>
    </form>
</div>


    {% include 'orders/partials/_order_table.html' %}

</div>
{% endblock %}


