
<style>
  /* Estilo para o formulário de cadastro */
  .register-form {
    width: 379px;  /* Mesma largura do formulário de login */
    max-width: 100%;
    margin: 0 auto;
  }
  
  /* Para garantir responsividade em telas menores */
  @media (max-width: 420px) {
    .register-form {
      width: 100%;
      padding: 0 15px;
    }
  }
  </style>

<div class="register-form">
<form method="POST" class="p-4 rounded-4 bg-white">
  {% csrf_token %}
  
  <h5 class="fw-bold text-primary mb-4">Solicitar Redefinição de Senha</h5>

  <div class="form-floating mb-3">
    {{ form.email }}
    <label for="{{ form.email.id_for_label }}" class="form-label fw-bold">Digite seu email</label>
    <small class="text-danger">{{ form.email.errors }}</small>
  </div>

  <button type="submit" class="btn btn-primary w-100 fs-4 mb-4 rounded-2">
    Solicitar Redefinição
  </button>
</form>

<div class="d-flex align-items-center justify-content-center mt-3">
  <p class="fs-4 mb-0 fw-bold">Lembrou sua senha?</p>
  <a class="text-primary fw-bold ms-2" href="{% url 'accounts:login' %}">Fazer Login</a>
</div>
</div>