<form method="POST" class="p-4 rounded-4 bg-white">
  {% csrf_token %}

  <h5 class="fw-bold text-primary mb-4">Redefinir Senha</h5>

  {# Renderiza o campo da nova senha #}
  <div class="form-floating mb-3">
    {{ form.new_password1 }}
    <label for="{{ form.new_password1.id_for_label }}" class="form-label fw-bold">Nova Senha</label>
    {% if form.new_password1.errors %}
      <div class="text-danger mt-1">
        {% for error in form.new_password1.errors %}
          <small>{{ error }}</small><br>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {# Renderiza o campo de confirmação da senha #}
  <div class="form-floating mb-3">
    {{ form.new_password2 }}
    <label for="{{ form.new_password2.id_for_label }}" class="form-label fw-bold">Confirme a Nova Senha</label>
    {% if form.new_password2.errors %}
      <div class="text-danger mt-1">
        {% for error in form.new_password2.errors %}
          <small>{{ error }}</small><br>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  
  {# Para erros que não são de um campo específico (raro com SetPasswordForm) #}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <p class="mb-0">{{ error }}</p>
        {% endfor %}
    </div>
  {% endif %}

  <button type="submit" class="btn btn-primary w-100 fs-4 mb-4 rounded-2">
    Redefinir Senha
  </button>
</form>